<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DAO Layer -->
    <bean id="clientDao" class="com.appgesclients2.dao.ClientDaoImpl" />

    <!-- Metier Layer -->
    <bean id="clientMetier" class="com.appgesclients2.metier.ClientMetierImpl">
        <property name="clientDao" ref="clientDao"/>
    </bean>

</beans>
